html {
    background-color: black;
    color: white;
    font-family: sans-serif;
    height: 100%;
}

img {
    float: left;
    
}

@media only screen and (max-width: 815px) {
    .container {
        grid-template-columns: repeat(2, 1fr) !important;
        grid-template-rows: repeat(4, 1fr) !important; 
        width: 400px !important;
    }
    .display-info {
        width: 60% !important;
    }
    #reset {
        margin-bottom: 50px !important;
    }
}

@media only screen and (max-width: 370px) {
    .media-div {
        height: 70px !important;
        width: 70px !important;
    }
    .display-info {
        width: 80% !important;
    }
}

h1, p {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
}

#button {
  border: 2px solid #fff;
  color: white;
  background-color: #000;
  font-size: 60px;
  border-radius: 8px;
  padding: 5px 30px;
  margin-top: 100px;
}

#button:hover {
    background: rgb(24, 24, 24);
}

.display-info {
    width: 40%;
    font-size: small;
    text-indent: 50px;
    background-color: #0b0b0b;
    padding: 1px 20px;
    border-radius: 8px;
    letter-spacing: 0.05rem;
    line-height: 19px;
    word-spacing: 2px;
    display: none;
}

.text-align {
    text-align: left;
}

.grid-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.header-container {
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 50px;
    column-gap: 50px;
    justify-items: center;
    width: 600px;
}
.media-div {
    height: 100px;
    width: 100px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    border: 3px solid #fff;
}

#reset {
    border: 2px solid #fff;
    color: white;
    background-color: #000;
    font-size: 20px;
    border-radius: 8px;
    padding: 5px 30px;
    margin-top: 100px;
    display: none;
}

#reset:hover {
    background: rgb(24, 24, 24);
}

.info-bg {
    background-color: #c4c4c4;
    height: 24px;
    width: 24px;
    border-radius: 5px;
}