html {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

@media only screen and (max-width: 615px) {
    .container {
        grid-template-columns: repeat(2, 1fr) !important;
        grid-template-rows: repeat(4, 1fr) !important; 
        width: 400px !important;
    }
}

@media only screen and (max-width: 315px) {
    .media-div {
        height: 70px !important;
        width: 70px !important;
    }
}

h1, p {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
}

#button {
  border: 2px solid #fff;
  color: white;
  background-color: #000;
  font-size: 60px;
  border-radius: 8px;
  padding: 5px 30px;
  margin-top: 100px;
}

#button:hover {
    background: rgb(24, 24, 24);
}

.grid-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.header-container {
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 50px;
    column-gap: 50px;
    justify-items: center;
    width: 600px;
}
.media-div {
    height: 100px;
    width: 100px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    border: 3px solid #fff;
}